[submodule "brontend"]
	path = frontend
	url = https://github.com/Czekk/MrKtLine-Financial-App-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Czekk/Czekk-MrKtLine-Financial-App-backend.git
